<h2 mat-dialog-title>Edit Student</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>DOB</mat-label>
      <input matInput [(ngModel)]="data.dob" name="dob" type="date" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="data.gender" name="gender" required>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput [(ngModel)]="data.address" name="address" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email" name="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mobile</mat-label>
      <input matInput [(ngModel)]="data.mobile" name="mobile" type="tel" required />
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
